<head>
	<style type="text/css">
        html {
          box-sizing: border-box;
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
        body {
            box-sizing: border-box;
            background-color: #303030;
        }
        div{
            max-width: 1024px;
            min-width: 400px;
            margin:0 auto;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background-color: #279972;
        }
        p{
            padding: 10px;
        }
        .topRadius{
        	margin-top: 25%;
            margin-bottom: 0;
            color: #ffffff;
        }
        .bottomRadius{
            border: 10px solid #279972;
            margin-top: 0;
            background-color: #ffffff;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        h1{
            border-bottom: 1px solid #279972;
            padding: 10px;
        }
    </style>
</head>
<body>
	<div class="main">
		<h1 class="topRadius">Something happened !</h1>
		<p class="bottomRadius"> No route found for '{{route}}'</p>
	</div>
</body>
